*secrets.yaml

custom_components
www
blueprints/*/homeassistant
dehydrate
ssh

harmony_*
known_devices.yaml

home-assistant.log*
home-assistant*.db*

.storage
!.storage/lovelace
!.storage/person

.HA_VERSION
